* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Plain Light";
   color: #fff;
}
html,body {
   width: 100%;
   height: 100%;
   /* cursor: none; */
}
body{
    overflow-x: hidden;
}
.mousefollower {
    border: 8px solid #fff;
    background-color: transparent;
    scale: 2;
    mix-blend-mode: difference;
    z-index: 990;
}
/* #crsr{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #ffffffbe;
    position: fixed;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
    z-index: 999;
} */
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 20vh 8vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3.5vw;
    font-weight: 100;
    font-family:"Silk Serif";
}
#line1-part1 h5{
  /* background-color: red; */
  width: 5vw;
  text-align: right;
}
.line h1{
    font-size: 6.7vw;
    text-transform: uppercase;
    font-weight: 800;
}
.line h2{
    font-size: 5.2vw;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    40%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

.line h3{
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 77%;
    left: 28vw;
    font-size: 1.1vw;
    font-weight:200;
}
.line h4{
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80%;
    left: 28vw;
    font-size: 1.1vw;
    font-weight:200;
}

#main{
    position: relative;
    background-color: #151515;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}   

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.8vw 7.5vw;
    position: relative;
}
#page1 #nav-center{
    
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 28vw;
    top: 8vh;
    line-height: 1.2vw;
}
#page1 #nav-center h5{
    font-size: 1.1vw;
    font-weight: 200;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}
.hero{
    /* background-color: red; */
    width: 72.5%;
    margin-left: 27.5%;
    height: fit-content;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
}
#hero-s{
    margin-top: 10vh;
}
.hero h1{
    font-size: 7.1vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.1vw;
    position: relative;
    z-index: 9;
}
#hero1::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 500;
    top: 30%;
    left: 20%;
}
.hero h2, .hero h3{
    font-size: 7.1vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.1vw;
    /* transition: all ease 0.3s; */
}
.hero h2{
    border-bottom: 0.6vw solid #fff;
    padding-bottom: 0.8vw;
}
.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    /* border-bottom: 0.5vw solid #fff; */
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    margin-top: 17vh;
    position: relative;
}
#video-container{
    height: 70vh;
    width: 73vw;
    position: relative;
    left: 26%;
    /* background-color: red; */
    background-image: url(./assets/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
}
/* #video-container img{
    position: absolute;
    height: 100%;
    width: 100%; 
    object-fit: cover;
    top: 0;
} */
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}
#video-cursor{
    height: 10vw;
    width: 10vw;
    background-color: #FFA63D;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 75%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ri-play-fill{
    font-size: 2.5vw;
}
#page3{
    min-height: 100vh;
    width: 100%;
    /* background-color: #030303; */
    position: relative;
    padding: 20vh 2vw;
    margin-bottom: 20vh;
}
#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    margin-left: 28vw;
    text-transform: uppercase;
}
#page3 h1::before{
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 500;
    top: 8%;
    left: -12%;
}
#page3 .underline{
    height: 2px;
    width: 67%;
    background-color: #fff;
    margin-left: 27vw;
}
#image-div-container{
    /* background-color: red; */
    padding: 1vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.image-group{
    height: 45vw;
    position: relative;
    overflow: hidden;
    width: 24vw;
    flex-shrink: 0;
    margin: 1vw;
    display: flex;
    flex-direction: column;
}
.image-group h3{
    font-size: 2.5vw;
    font-weight: 550;
    margin-bottom: 2vw;
}
.image-div{
    height: 30vw;
    position: relative;
    overflow: hidden;
    width: 24vw;
    flex-shrink: 0;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    margin-left: 0vw;
}
.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.image-div h3{
    font-size: 4vw;
}
#img-down-titl{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#img-down-titl p:nth-child(1){
    margin-top: 1.2vw;
    font-size: 1vw;
    width: 10vw;
}
.image-group:nth-child(2){
    height: 55vw;
    position: relative;
    overflow: hidden;
    width: 30vw;
    flex-shrink: 0;
    margin: 1vw;
    display: flex;
    flex-direction: column;
}
.image-group:nth-child(2) .image-div{
    height: 38vw;
    position: relative;
    overflow: hidden;
    width: 30vw;
    flex-shrink: 0;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    margin-left: 0vw;
}

#img-part-2{
    height: 70vw;
    position: relative;
    width: 68vw;
    margin: 1vw;
    display: flex;
    /* background-color: red; */
}
.image-group1{
    height: 55vw;
    position: absolute;
    overflow: hidden;
    width: 30vw;
    flex-shrink: 0;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    top: 15vh;
}
.image-group1 .image-div{
    height: 38vw;
    position: relative;
    overflow: hidden;
    width: 30vw;
    flex-shrink: 0;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    margin-left: 0vw;
}
.image-group1 h3{
    font-size: 4vw;
}
.image-group2 h3{
    font-size: 4vw;
}
.image-group2{
    height: 55vw;
    position: relative;
    overflow: hidden;
    width: 30vw;
    flex-shrink: 0;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    top: 0vh;
    left: 33vw;
}
#img-part-2 .image-group2 .image-div{
    height: 38vw;
    position: relative;
    overflow: hidden;
    width: 30vw;
    flex-shrink: 0;
    margin: 1vw;
    margin-left: 0vw;
}
#img-part-3{ 
    height: 80vw;
    position: relative;
    width: 100vw;
    margin: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -55vh;
}
.image-group3{
    height: 45vw;
    position: relative;
    overflow: hidden;
    width: 24vw;
    flex-shrink: 0;
    /* margin: 1vw; */
    display: flex;
    flex-direction: column;
    margin-top: -65vh;
    margin-bottom: 30vh;
}
.image-group3 .image-div{
    height: 30vw;
    position: relative;
    overflow: hidden;
    width: 24vw;
    flex-shrink: 0;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    margin-left: 0vw;
}
.image-group3 h3{
    font-size: 4vw;
}
.image-group4{
    height: 55vw;
    position: relative;
    overflow: hidden;
    width: 30vw;
    flex-shrink: 0;
    /* margin: 1vw; */
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
    margin-bottom: 30vh;
}
.image-group4 .image-div{
    height: 38vw;
    position: relative;
    overflow: hidden;
    width: 30vw;
    flex-shrink: 0;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    margin-left: 0vw;
}
.image-group4 h3{
    font-size: 4vw;
}
/* .image-div:nth-child(2){
    height: 38vw;
    position: relative;
    overflow: hidden;
    width: 31vw;
    flex-shrink: 0;
    margin: 1vw;
    } */
    
    /* #img-part-2{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        } */
        /* #img-part-2 .image-div:nth-child(2){
    height: 38vw;
    position: relative;
    overflow: hidden;
    width: 31vw;
    flex-shrink: 0;
    margin: 1vw;
    } */
.page3-circle1{
    height: 24vw;
    width: 24vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42vh;
    margin-left: 8vw;
    position: relative;
    transition: all ease 0.3s;
}
.page3-circle1 svg{
    height: 35%;
}
.page3-circle2{
    height: 24vw;
    width: 24vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 42vh; */
    /* margin-left: 8vw; */
    position: relative;
    transition: all ease 0.3s;
}
.page3-circle2 svg{
    height: 35%;
    rotate: -45deg;
}
.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    border-radius: 50%;
    transition: all ease 0.3s;
    transition-delay: 0.1s;
}
.circle-in p{
    font-size: 1.1vw;
    color: #000;
    width: 80%;
    scale: 0;
    display: flex;
    justify-content: center;
    transition: all ease 0.3s;
    transition-delay: 0.3s;
    opacity: 0;
}
.page3-circle1:hover .circle-in{
    scale: 1;
}
.page3-circle1:hover .circle-in p{
    scale: 1;
    opacity: 1;
}
.page3-circle2:hover .circle-in{
    scale: 1;
}
.page3-circle2:hover .circle-in p{
    scale: 1;
    opacity: 1;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-bottom: 5vh;
    margin-top: 20vh;
}
#page4-content{
    width: 72vw;
    margin-left: 28%;
}
#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}
#page4-content h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 500;
    top: 8%;
    left: -12%;
}
#page4-content .underline{
    height: 2px;
    width: 94%;
    background-color: #fff;
    margin-top: 3vh;
    margin-bottom: 7vh;
}
#page4-content>p{
    font-size: 2.4vw;
    width: 55%;
    margin-bottom: 4.5vw;
}
#page4-flex{
    display: flex;
}
#page4-flex img{
    width: 46%;
}
#page4-flex p{
    font-size: 1.1vw;
    width: 29%;
    font-weight: 500;
    line-height: 1.6vw;
}
#page4-bluebox{
    background-color: #3F7DF4;
    width: 44vw;
    padding: 3vw;
    position: relative;
    margin-top: -18vh;
    margin-left: 23vw;
}
.blu-div-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 2vw 0;
    border-bottom: 2px solid #ffffffbe;
}
.blu-div-elem h4{
    font-size: 2vw;
    font-weight: 500;
}
.blu-div-elem p{
    width: 50%;
    font-size: 1.1vw;
    font-weight: 500;
}
#we-work .underline{
    height: 2px;
    width: 94%;
    background-color: #fff;
    margin-top: 3vh;
    margin-bottom: 2vh;
}
#we-work h5{
    font-size: 1vw;
    font-weight: 500;
    padding-top: 1vw;
}
#page5{
    margin-top: 18vw;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.elem{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2.5vw;
}
.elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 2px #fff;
    font-weight: 400;
    text-transform: uppercase;
    /* background-color: red; */
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: animes;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes animes {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

.elem2{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2.5vw;
}
.elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 2px #fff;
    font-weight: 400;
    text-transform: uppercase;
    /* background-color: red; */
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: animes;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.elem span{
    font-family: "Plain Light";
    font-style: italic;
    -webkit-text-stroke: 2px #fff;
    font-family: "silk serif";
    color: transparent;
}
.elem2 span{
    font-family: "Plain Light";
    font-style: italic;
    -webkit-text-stroke: 2px #fff;
    font-family: "silk serif";
    color: transparent;
}
#footer{
    margin-top: 9vw;
    height: 100vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
}
#footer h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    position: relative;
}
#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 500;
    top: 8%;
    left: -12%;
}
.underline{
    height: 2px;
    width: 93%;
    background-color: #fff;
    margin: 2vw 0;
}
#footer-div{
    display: flex;  
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 8vw;
    padding: 3vw 0;
}
#footer-div h6{
    font-size: 1.1vw;
    padding-bottom: 1.5vw;
    margin-bottom: 1vw;
}
.box{
    width: 35%;
}
#footer-div h5{
    font-size: 1.8vw;
    font-weight: 600;
    margin:0.2vh 0;
}
#footer-div a{
    font-size: 1.8vw;
    font-weight: 600;
    /* margin:0.2vh 0; */
}
#footer>h5{
    font-size: 1.2vw;
    font-weight: 500;
}

._canvas_container{
    z-index: 999999 !important;

}
#flag{
    height: 28vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
}
#hero3{
    /* background-color: red; */
    z-index: 99;
    position: relative;
}

